.pj {
    background-color: rgba(20.05, 20.05, 20.05, 0.90);
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 0 40px rgba(255,0,34,0.2);
    border-radius: 10px;
    width: 100%;
    height: 100%;
    align-items: center;
    margin: 1rem;
    justify-content: space-between;
}


.btn {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: #22050e;
    width: 30%;
    border-radius: 20px;
    transition: transform 0.2s;
    margin-bottom: 4%;
}

.btn:hover {
    transform: scale(1.055);
}

.desc {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
}

.contain {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(5rem, 38.5rem));
    grid-auto-rows: 20rem;
    gap: 10px;
}

.pj > div {
    width: 90%;
    text-align: center;
}
