#rdm {
    background-color: rgba(0.05, 0.05, 0.05, 0.50);
    display: flex;
    flex: 0;
    flex-direction: column;
    border-radius: 10px;
    justify-content: flex-start;
    border-left: 3px solid #ff0022;
    padding: 0.5rem;
}
