/* index.css */
:root {
  --bg-color: #121212;
  --text-color: #eee;
  --card-bg: #1e1e1e;
  --primary-color: #ff4f81;
}

body {
  margin: 0;
  font-family: 'Segoe UI', sans-serif;
  background-color: var(--bg-color);
  color: var(--text-color);
}

a {
  color: var(--primary-color);
  text-decoration: none;
}

header, footer {
  background-color: #1b1b1b;
  padding: 20px;
  text-align: center;
}

.container {
  width: 90%;
  max-width: 1200px;
  margin: auto;
}

button {
  background-color: var(--primary-color);
  color: #fff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
}
button:hover {
  opacity: 0.8;
}

